<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="isShow">{{message}}</div>
        <div v-else>isShow为false时显示我!</div>
        <div v-if="score > 90">优秀</div>
        <div v-else-if="score > 80">良好</div>
        <div v-else-if="score > 60">及格</div>
        <div v-else>不及格</div>
        <!-- 用户登录切换的案例 -->
        <div>
            <span v-if="isUser">
                <label for="userName">用户账号</label>
                <!-- !important：key属性的值是否相同决定虚拟dom对可复用结构是否重新渲染 -->
                <!-- !important：添加一个key属性，可以让vue底层根据虚拟dom渲染结构的时候，决定是否复用该结构，key相同则复用，不同则不复用 -->
                <!-- 此处userName的input与下面email的input在虚拟dom中是一个互斥的结构，在不声明不同key的情况下，出于性能考虑，在切换时vue不会重新渲染一次input，会进行复用，只会把不同的属性进行替换，
                    现象就是，先在input中输入值，点击切换，发现input的id，placeholder等属性都发生了改变，但是之前输入的值还在，就是因为虚拟dom复用了input结构，
                    但是假如key属性，且值不同时，切换时input就会重新渲染
                -->
                <input type="text" id="userName" placeholder="请输入用户账号" key="userName">
            </span>
            <span v-else>
                <label for="email">用户邮箱</label>
                <input type="text" id="email" placeholder="请输入用户邮箱" key="email">
            </span>
            <button @click="changeLoginMethods">切换类型</button>
        </div>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: { 
                // 数据管理
                message:'你好吖~',
                isShow:true,
                score:99,
                isUser:true,
            },
            computed:{
                // 计算属性
            },
            methods: {
                // 方法
                changeLoginMethods(){
                    this.isUser = !this.isUser;
                }
            },
        });
    </script>
</body>

</html>