<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .cpn {
        border: 1px solid black;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <cpn></cpn>
      <cpn>
        <!-- 2. 要访问slot绑定的数据,固定写法 -->
        <div slot-scope="slot">
          <!-- 3. 可以通过slot.数据名称访问传递的数据 -->
          <span v-for="item in slot.movies">{{item}} </span>
        </div>
      </cpn>
      <cpn></cpn>
      <cpn></cpn>
    </div>
    <template id="cpn">
      <div class="cpn">
        <!-- 1. slot是可以绑定数据的 :数据名称="数据" -->
        <slot :movies="movies">
          <ul>
            <li v-for="item in movies">{{item}}</li>
          </ul>
        </slot>
      </div>
    </template>
    <script>
      // 子组件
      const cpn = {
        template: "#cpn",
        data() {
          return {
            movies: ["陈情令", "魔道祖师", "天官赐福", "人渣反派自救系统"],
          };
        },
      };
      // 父组件
      const app = new Vue({
        el: "#app",
        data: {
          // 数据管理
        },
        computed: {
          // 计算属性
        },
        methods: {
          // 方法
        },
        filters: {
          // 过滤器：会将管道前面的数据作为参数传入，返回经过处理后的数据
          // 格式 {{data | 过滤器}}
        },
        components: {
          // 组件
          cpn,
        },
        watch: {
          // 监听数据的变化
        },
      });
    </script>
  </body>
</html>
